# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/


dataset/datatrove_sales_2024.csv
scripts/
plan/

# OS files
.DS_Store
Thumbs.db
