# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

dataset/
scripts/
plan/

# OS files
.DS_Store
Thumbs.db
python-3.11.9-amd64.exe
tasks/DTS_202_Dataset.csv